[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
jieba = "*"
requests = "*"
lxml = "*"
xlrd = "*"
openpyxl = "*"
scrapy = "*"
pymongo = "*"
matplotlib = "*"
lmfit = "*"
scipy = "*"
bs4 = "*"

[requires]
python_version = "3.6"
