{% extends "base.html" %}
{% load static %}

{% load information_extras %}

{% block info_active %}
    open
{% endblock %}

{% block info_stock_stat_active %}
    "current active"
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-12" style="font-size: larger">
            <span class="right-title-border-name">&ensp;
                <i class="iconfont icon-yunfuwuqi"></i>&ensp;
                <strong class="king-header-red">股票评论信息</strong>
            </span>
        </div>
    </div>

    <div class="container-fluid">
        <div class="panel-btns form-group">
            <div class="col-md-1">
                <button type="button" class="btn btn-warning import_csv" data-toggle="tooltip"
                    data-placement="bottom" style="border-radius: 7px" title="将csv数据导入数据库！">数据导入
                </button>
            </div>
            <form class="">
            <div class="col-md-2"><input name="st_code" class="form-control" type="text" placeholder="股票代码"></div>
            <div class="col-md-1"><input class="btn btn-info" style="border-radius: 7px" type="submit" value="搜    索"></div>
            </form>
        </div>
        <div class="col-md-12">
        <div class="panel panel-default pannel-overflow panel-tables">
            <table class="table table-hover table-condensed">
                <thead>
                <tr class="active center_tr">
                    <th style="width:5%">序号</th>
                    <th style="width:20%">股票代码</th>
                    <th style="width:75%">股票评论</th>
                </tr>
                </thead>

                {% for v, index in zip_obj %}
                    <tbody id="data">
                    <tr style="display: table-row; opacity: 1; text-align: center">
                        <td class="active"><span class="text-darker vs_id">{{ index }}</span></td>
                        <td class="info"><span class="text-dark st_code">{{ v.st_code|default:"无" }}</span></td>
                        <td class="danger"><span class="text-dark st_desc">{{ v.st_desc|default:"无" }}</span></td>
                    </tr>
                    </tbody>
                {% endfor %}

                <tfoot>
                    <tr>
                        <td colspan="11">
                            <div id="pages" class="text-center">
                                <nav>
                                    <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                            <li><a class='active' href="?page={{ page_obj.previous_page_number }}&{{ keys }}">
                                                <span aria-hidden="true">&laquo;</span></a></li>
                                        {% else %}
                               				<li class="disabled">
                            					<a href="#" aria-label="Next">
												<span aria-hidden="true">&laquo;</span>
                           						 </a>
                       						 </li>		
                                        {% endif %}

                                        {% for num in pages %}
                                            {% if num == page %}
                                                <li class="item active"><a href="/info/stock/{% url 'stock' %}?page={{ num }}&{{ keys }}">{{ num }}</a></li>
                                            {% else %}
                                                {% if num is not None %}
                                                    <li class="item"><a href="/info/stock/?page={{ num }}&{{ keys }}">{{ num }}</a></li>
                                                {% else %}
                                                    <li><span>...</span></li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                            <li><a class='active' href="?page={{ page_obj.next_page_number }}&{{ keys }}">
                                                <span aria-hidden="true">&raquo;</span></a></li>
                                        {% else %}
                               				<li class="disabled">
                            					<a href="#" aria-label="Next">
												<span aria-hidden="true">&raquo;</span>
                           						 </a>
                       						 </li>		
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            
            </table>
            <div class="row">
                <div class="king-instruction king-instruction-info space_between">
                    <h5 style="color: black">操作说明：</h5>
                    <p class="text text-danger">1.请填写股票代码</p>
                    <p class="text text-info">2.然后点击查询按钮,即可获取对应评论</p>
                    <p class="text text-warning">3.支持模糊查询以及翻页功能~</p>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="row">
        <div class="king-instruction king-instruction-info space_between">
            <h5 style="color: black">说明：</h5>
            <p class="text text-danger">此页面为stock状态信息列表，由服务器端配置文件调用python程序所获得数据；</p>
            <p class="text text-info">目前仅作展示审计作用，以备查出问题方便；</p>
            <p class="text text-warning">hello</p>
        </div>
    </div>
    <script type="text/javascript">
    // 导入表格数据到数据库
    $('.import_csv').click(function () {
        $.post("{% url 'import_csv' %}", function (res) {
            if (res == "success") {
                alert("导入csv文件到数据库成功！")
            } else {
                result = JSON.parse(res)
                alert(result.result)
            }
        })
        
    });
    // 触发气泡
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    </script>
{% endblock %}
