{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>校友录信息系统</title>

    <!-- Bootstrap css -->
    <link href='{% static "assets/bootstrap-3.3.4/css/bootstrap_noresponsive.css" %}' rel="stylesheet">
    <link href='{% static "iconfont/iconfont.css" %}' rel="stylesheet">
    <link href='{% static "/css/bk.css" %}' rel="stylesheet">
    <link href='{% static "/css/main.css" %}' rel="stylesheet">
    
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src='{% static "assets/js/jquery-1.10.2.min.js" %}'></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src='{% static "assets/bootstrap-3.3.4/js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/index.js" %}'></script>
    <script src='{% static "assets/jPages-0.7/js/jPages.js" %}'></script>
    <script src='{% static "js/jquery.tabledit.js" %}'></script>
    <script src="{% static "assets/bootstrap-3.3.4/js/bootstrap-datetimepicker.js" %}" charset="UTF-8"></script>
    <script src="{% static "assets/bootstrap-3.3.4/js/locales/bootstrap-datetimepicker.fr.js" %}" charset="UTF-8"></script>
    <script src="{% static "js/jquery.tabledit.min.js" %}"></script>
    <style>
        #modify_pwd_a {
            cursor: pointer;
        }
    </style>
</head>

<body>
<div class="wrap">
    <!-- 头部 -->
    <header>
        <div class="navbar navbar-black">
            <div class="navbar-container">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#">
                        校友录信息系统
                    </a>
                </div>
                <div class="dropdown pull-right">
                    <button type="button" class="btn dropdown-toggle btn-info" style="border-radius: 6px"
                            id="dropdownMenu1" data-toggle="dropdown">
                        {{ request.user }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" data-toggle="modal" data-dismiss="modal"
                               data-target="#modify_info" id="modify_pwd_a">修改个人信息</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" data-toggle="modal" data-dismiss="modal"
                               data-target="#modify_password" id="modify_pwd_a">修改密码</a>
                        </li>
                        <li role="presentation">
                            <a class="dropdown-item" role="menuitem" tabindex="-1" href='/logout/'>退出登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- 头部 -->

    <!-- 侧边栏 -->
    <div class="king-vertical-nav4">
        <div class="sidebar-inner">
            <ul class="navi">
                <li class={% block index_active %}{% endblock %}>
                    <a href="/index/">
                        <i class="iconfont icon-shouyex"></i>用户个人信息
                    </a>
                </li>
            {% if perms.User.can_approval or request.user.userprofile.is_manager  %}
                <li class={% block approval_active %}{% endblock %}>
                    <a href="/user/approval/">
                        <i class="iconfont icon-gaizhangshenpi"></i>注册申请
                    </a>
                </li>
            {% endif %}
            {% comment %} XX管理菜单-普通用户 {% endcomment %}
            {% if perms.Information.view_cla_mate or request.user.userprofile.is_manager %}
                <li class="has_submenu {% block info_mana_active %}{% endblock %}">
                    <a href="javascript:;">
                        <i class="iconfont icon-rizhishenji"></i>学校专业信息
                        <span class="pull-right"><i class="iconfont icon-xiala-"></i></span>
                    </a>
                    <ul class="sub-menu">
                    {% comment %} #TODO {% endcomment %}
                    {% comment %} 只有班级管理员可以看到此菜单，此菜单下进行班级人员和班级信息的管理【复用】 {% endcomment %}
                    {% if perms.Information.view_cla_mate or request.user.userprofile.is_cla_manager %}
                        <li class={% block info_profession_active %}{% endblock %}>
                            <a href="/info/ais_classmate_view/">管理专业<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                        <li class={% block info_cla_active %}{% endblock %}>
                            <a href="/info/ais_classmate_view/">管理班级<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    {% endif %}
                    </ul>
                </li>
            {% endif %}

            {% if perms.Information.view_cla_mate or request.user.userprofile.is_manager %}
                <li class="has_submenu {% block info_active %}{% endblock %}">
                    <a href="javascript:;">
                        <i class="iconfont icon-rizhishenji"></i>班级管理
                        <span class="pull-right"><i class="iconfont icon-xiala-"></i></span>
                    </a>
                    <ul class="sub-menu">
                    {% if perms.Information.view_cla_mate or request.user.userprofile.is_manager %}
                        <li class={% block talk_cla_mate_active %}{% endblock %}>
                            <a href="/info/ais_classmate_view/">班级留言录<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                        <li class={% block info_cla_mate_active %}{% endblock %}>
                            <a href="/info/ais_classmate_view/">班级成员信息<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    {% endif %}
                    </ul>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
    <!-- Modal 修改密码模态框 -->
    <div class="modal fade" id="modify_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title text-center">修改密码</h3>
                </div>
                <div class="modal-body" style="padding: 0px">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group">
                            <span style="color: red"> * </span><label for="">旧密码</label>
                            <input class="form-control" type="password" id="password0" placeholder="请输入原密码">
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group">
                            <span style="color: red"> * </span><label for="">新密码</label>
                            <input class="form-control" type="password" id="password1" placeholder="至少6位字母或数字">
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group">
                            <span style="color: red"> * </span><label for="">再次输入新密码</label>
                            <input class="form-control" type="password" id="password2" placeholder="至少6位字母或数字">
                        </div>
                    </div>
                </div>
                <div id="changePasswordAlert" class="alert alert-danger" role="alert"
                     style="width: 30%; margin-bottom: 6px; display: none;"></div>
                <div class="modal-footer">
                    <div class="col-md-6 col-md-offset-3">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">取&nbsp;&nbsp;消</button>
                        <button type="button" class="btn btn-info modify_pwd" onclick="changePassword()">修&nbsp;&nbsp;改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 修改注册信息模态框 -->
    <div class="modal fade" id="modify_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title text-center">修改注册信息{{ request.user }}</h3>
                </div>
                <div class="modal-body" style="padding: 0px">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">学号</label>
                            <input class="form-control" id="user_stu_num" placeholder="学号">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">姓名</label>
                            <input class="form-control" id="user_real_name" placeholder="姓名">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">电话</label>
                            <input class="form-control" id="user_phone" placeholder="电话">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">邮箱</label>
                            <input class="form-control" id="email" placeholder="xxx@xxx.com">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">个人简介</label>
                            <input class="form-control" id="user_desc" placeholder="">
                        </div>
                    </div>
                </div>
                <div id="modifyInfoAlert" class="alert alert-danger" role="alert"
                     style="width: 30%; margin-bottom: 6px; display: none;"></div>
                <div class="modal-footer">
                    <div class="col-md-6 col-md-offset-3">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">取&nbsp;&nbsp;消</button>
                        <button type="button" class="btn btn-info modify_pwd" onclick="modifyInfo()">保&nbsp;&nbsp;存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="king-main-container">
        {% block container %}
        {% endblock %}
    </div>
</div>
<script type="text/javascript">
    function changePassword() {
        var changePasswordAlert = '';
        $('#changePasswordAlert').hide();
        if (!$('#password0').val()) {
            changePasswordAlert += '**  旧密码不能为空！<br />';
        }
        if (!$('#password1').val()) {
            changePasswordAlert += '**  新密码不能为空！<br />';
        }
        if (!$('#password2').val()) {
            changePasswordAlert += '**  确认密码不能为空！<br />';
        }
        if ($('#password1').val() != $('#password2').val()) {
            changePasswordAlert += '**  两次密码不一致！<br />';
        }
        if ($('#password0').val() == $('#password1').val()) {
            changePasswordAlert += '**  新密码和旧密码不能一样！<br />';
        }
        if (changePasswordAlert) {
            $('#changePasswordAlert').html(changePasswordAlert);
            $('#changePasswordAlert').show();
        } else {
            $.ajax({
                url: "{% url 'change_pwd' %}",
                type: 'POST',
                data: {
                    username: "{{ request.user }}",
                    oldPassword: $('#password0').val(),
                    newPassword: $('#password1').val(),
                },
                success: function (res) {
                    if (res == "success") {
                        window.location.href = "{% url 'login' %}";
                        alert("修改密码成功！请重新登录！");
                    } else {
                        result = JSON.parse(res)
                        alert(result.result)
                    }
                }
            })
        }
    }

    function modifyInfo() {
        var modifyInfoAlert = '';
        $('#modifyInfoAlert').hide();
        if (modifyInfoAlert) {
            $('#modifyInfoAlert').html(modifyInfoAlert);
            $('#modifyInfoAlert').show();
        } else {
            $.ajax({
                url: "{% url 'modify_info' %}",
                type: 'POST',
                data: {
                    username: "{{ request.user }}",
                    user_stu_num: $('#user_stu_num').val(),
                    user_phone: $('#user_phone').val(),
                    user_real_name: $('#user_real_name').val(),
                    email: $('#email').val(),
                    user_desc: $('#user_desc').val(),
                },
                success: function (res) {
                    if (res == "success") {
                        window.location.reload();
                        alert("修改用户个人信息成功！刷新页面！");
                    } else {
                        result = JSON.parse(res)
                        alert(result.result)
                    }
                }
            })
        }
    }

    $('.checkboxAll input').click(function (event) {
            if($(this).attr('checked')){
                $(this).attr('checked',false);
                $(".checkboxOne input").attr({'checked': false})
                $(".checkboxOne input").prop({'checked': false})
            }else{
                $(this).attr('checked',true)
                $(".checkboxOne input").attr({'checked': true})
                $(".checkboxOne input").prop({'checked': true})
            }
        })
        // 单个选择
    $(".checkboxOne input").click(function(event) {
            var flag = false;
            if ($(this).attr('checked')) {
                $(this).attr('checked', false);

            } else {
                $(this).attr('checked', true)

            }
            $('.checkboxOne input').each(function (index, val) {
                if ($(val).attr('checked')) {
                    flag = true;
                } else {
                    flag = false;
                    return false;
                }
            });
            if (flag) {
                $('.checkboxAll input').attr('checked', true);
                $('.checkboxAll input').prop('checked', true);
            } else {
                $('.checkboxAll input').attr('checked', false);
                $('.checkboxAll input').prop('checked', false);
            }
        })
</script>
{% block script %}
{% endblock %}
</body>

</html>